@tailwind base;
@tailwind components;
@tailwind utilities;



/* 1. Base Styles */
@layer base {
    /* Default Light Theme */
    :root {
      --background: #ffffff; /* Light background */
      --foreground: #000000; /* Light text */
      --border-opacity: 20%;
      --border: rgba(0, 0, 0, 0.2);
    }
  
    /* Dark Theme */
    html.dark {
      --background: #000000; /* Dark background */
      --foreground: #ffffff; /* Dark text */
      --border-opacity: 20%;
      --border: rgba(224, 224, 224, 0.2);
    }
 
}

/* 1. Global font setup */
body {
  font-family: var(--font-geist-code);
  margin: 0;
  padding: 0;
  background-color: var(--background);
  color: var(--foreground);
}

* {
  border-color: var(--border);

}